<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <img src="../../assets/images/couple-working-from-home-together-sofa.jpg" class="about-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="about-thumb">

                    <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                        <h2 class="text-white me-4 mb-0">My Story</h2>

                        <img src="../../assets/IMG_20220913_0001.jpg" class="avatar-image img-fluid" alt="">
                    </div>

                    <h3 class="pt-2 mb-3">a little bit about Mohammed</h3>
                    <p>
                        Mohammed is a junior software engineer and data science student currently pursuing his second year of a master's degree. With a skill set that combines <b>web development</b> (React, Angular), <b>backend development</b> (Java, Spring), and<b> databases</b> (SQL, NoSQL), he is well-equipped to tackle projects involving software engineering and data analysis.
                    </p>
                    <p>
                        Although early in his career, Mohammed has already demonstrated a strong work ethic and a passion for leveraging technology and data to solve real-world problems. He is actively developing his expertise in areas such as machine learning, data mining, and big data analytics, complementing his software development skills.
                    </p>
                    <p>
                        Mohammed is eager to continue learning and growing as a professional, collaborating with experienced teams and contributing to innovative data-driven solutions.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>